<div class="footer_container">
  <div class="footer_logo">
    <a href="#">
      <img src="{{ imgFooter }}" alt="footer" width="32px" height="32px" />
    </a>
  </div>

  <div class="footer_item">
    <ul>
      <li>
        <a href="{{ suporteLink }}" target="_blank">{{ suporte }}</a>
      </li>
      <li>
        <a href="{{ termosLink }}" target="_blank">{{ termos }}</a>
      </li>
      <li>
        <a href="{{ politicaLink }}" target="_blank">{{ politica }}</a>
      </li>
      <li>
        <a href="{{ politicaCancelamentoLink }}" target="_blank">{{ politicaCancelamento }}</a>
      </li>
    </ul>
    <ul>
      <li><a href="{{copyrightLink}}" target="_blank">{{copyright}}</a></li>
    </ul>
  </div>
</div>
