<div class="home_container">
  <app-card gameImg="assets/bt-1.jpg" gamePrice="R$ 129,00" gameType="Digital and Fisic" text="Exclusive">
  </app-card>
  <app-card gameImg="assets/bt-bad-company-2.jpg" gamePrice="R$ 229,00" gameType="Digital" text="Exclusive">
  </app-card>
  <app-card gameImg="assets/bt-hardline.jpg" gamePrice="R$ 329,00" gameType="Digital" text="Exclusive">
  </app-card>
  <app-card gameImg="assets/bt-4.jpg" gamePrice="R$ 199,00" gameType="Digital" text="Exclusive">
  </app-card>
  <app-card gameImg="assets/bt-5.jpg" gamePrice="R$ 89,00" gameType="Digital" text="Exclusive">
  </app-card>
  <app-card gameImg="assets/ac-cover.jpg" gamePrice="R$ 109,00" gameType="Digital" text="Exclusive">
  </app-card>
</div>
